body {
  background-color: #212121;
}

#container {
  position: relative;
  width: 80%;
  height: 466px;
  margin: auto;
  border: 2px dashed #424242;
  overflow:hidden;
  opacity: .9;
}

#ball {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  border-radius: 25px;
  background-color: #bcaaa4;
  display: none;
}

#paddle {
  position: absolute;
  left: 50%;
  bottom: 7px;
  height: 7px;
  width: 125px;
  background-color: #8d6e63;
  box-shadow: 0 5px 6px -4px #212121;
}

.brick {
    position: absolute;
    top: 0;
    left: 0;
    width: 89px;
    height: 18px;
    color: white;
    font-size: .8em;
    padding: 5px;
    text-align: center;
}

.score, .lives {
  padding-left: 10px;
}

#startBtn {
  margin-left: 30px;
}
